# Editor directories and files
.vscode
.idea/
*.ipr
*.iml
*.iws
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
.DS_Store
Thumbs.db
nbproject/private/
nbbuild/
nbdist/
nb-configuration.xml
.nb-gradle/
*.swp
*.swo
*.orig
*.rej
.air.toml
proguard/
!**/src/**/proguard/

## rust
debug/
target/

## java
.factorypath
.springBeans
.sts4-cache
.apt_generated
.gradle
.jpb/
build/
!**/src/**/build/
bin/
!**/src/**/bin/
out/
!**/src/**/out/

## node
node_modules/
dist/
dist_electron/
!**/src/**/dist/
dist-ssr/
tmp/
out-tsc/
bazel-out/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
*.local
cypress/videos/
cypress/screenshots/
.angular/
.sass-cache/
connect.lock
coverage/
!**/src/**/coverage/
libpeerconnection.log
testem.log
typings/
!**/src/**/typings/
.externalNativeBuild
.cxx/
captures/
!**/src/**/captures/
*.apk
*.aar
*.ap_
*.aab
*.dex
vcs.xml
freeline.py
freeline/
freeline_project_description.json
fastlane/
lint/
!**/src/**/lint/
*.hprof
capacitor-cordova-android-plugins
app/src/main/assets/public
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
tsconfig.tsbuildinfo
**/*/public/app/

## python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.venv
venv/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

